<footer> 
    <script src="https://kit.fontawesome.com/5d69ee546a.js" crossorigin="anonymous"></script>
    <div class="container-fluid bg-light text-dark fixed-bottom pt-3 pb-2 border border-dark-subtle">
        <div class = "container">
            <p>© 2023 Keenan Linck</p>
            <a class="link-underline-hover" style="text-decoration:none" href="https://github.com/klinck004/CRUDApp" target=_blank”><i class="fa-brands fa-github"></i> Find this project's code on GitHub</a>
        </div>
    </div>
</footer>